
StrokeRehabilitation\.xcodeproj/project\.xcworkspace/xcuserdata/damienkozakiewicz\.xcuserdatad/

StrokeRehabilitation\.xcodeproj/xcuserdata/damienkozakiewicz\.xcuserdatad/xcschemes/xcschememanagement\.plist
